<div [@openClose]="isOpen ? 'open' : 'closed'">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
    pariatur laudantium nesciunt ex at, sit voluptate perferendis ratione animi
    molestiae? Quis accusantium vel autem consequatur iusto soluta ipsam enim
    corporis!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci iure,
    fuga, optio non iste ex officia odit eaque doloremque aut assumenda
    veritatis? Vero sint tenetur non, nulla voluptatibus expedita optio!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore maxime
    illum porro quae reprehenderit veniam iusto nihil dolores repudiandae,
    incidunt deleniti nemo! Excepturi commodi fugiat provident, sapiente
    pariatur recusandae illo!
  </p>

  <p>reusable-animation works!</p>

  <button (click)="toggle()">Toggle Animation</button>
</div>
