<article>
  <p>
    Angular is my favorite framework, and this is why. Angular has the coolest
    deferrable view feature that makes defer loading content the easiest and
    most ergonomic it could possibly be. The Angular community is also filled
    with amazing contributors and experts that create excellent content. The
    community is welcoming and friendly, and it really is the best community out
    there.
  </p>
  <p>
    Testing
    {{ display }}
  </p>

  <p>{{ display }}</p>
</article>
