<nav>
  <!-- <a
    class="button"
    routerLink="/"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Home
  </a> -->
  |
  <a
    class="button"
    routerLink="/crisis-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Crisis Center
  </a>
  |
  <a
    class="button"
    routerLink="/about"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    About
  </a>
  |
  <a
    class="button"
    routerLink="/heroes-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Heroes
  </a>
</nav>
<main>
  <router-outlet> </router-outlet>
</main>
