<nav>
  <!-- <a
    class="button"
    routerLink="/"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Home
  </a> -->
  |
  <a
    class="button"
    routerLink="/crisis-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Crisis Center
  </a>
  <a
    class="button"
    routerLink="/open-close"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Open close
  </a>
  |
  <a
    class="button"
    routerLink="/about"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    About
  </a>
  |
  <a
    class="button"
    routerLink="/heroes-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Heroes
  </a>
  |
  <a
    class="button"
    routerLink="/heroes-async-message"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Async message
  </a>
  <button type="button" class="button" routerLink="/customers">
    Customers
  </button>
  <button type="button" class="button" routerLink="/orders">Orders</button>
  <button
    type="button"
    class="button"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    routerLink="/image"
  >
    Image
  </button>
  <button
    type="button"
    class="button"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    routerLink="/form"
  >
    Form
  </button>
  <button
    type="button"
    class="button"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    routerLink="/reactive-form"
  >
    Reactive-Form
  </button>
  <button
    type="button"
    class="button"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    routerLink="/pipe"
  >
    Pipe
  </button>

  <button
    type="button"
    class="button"
    routerLink="/css-style-example"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Css style exmaple
  </button>
  <button
    type="button"
    class="button"
    routerLink="/user-event"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    User Event
  </button>
  <button
    type="button"
    class="button"
    routerLink="/animation"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Animation
  </button>
  <button
    type="button"
    class="button"
    routerLink="/increment-animation"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Increment-Animation
  </button>
</nav>
<main>
  <router-outlet> </router-outlet>
</main>
